/* FONTS */

@font-face {
    font-family: "gg sans";
    src: url(../font/gg-sans/gg_sans_Normal.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "gg sans";
    src: url(../font/gg-sans/gg_sans_Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "gg sans";
    src: url(../font/gg-sans/gg_sans_Semibold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "gg sans";
    src: url(../font/gg-sans/gg_sans_Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "ginto nord";
    src: url(../font/ginto-nord/Ginto-Nord-700.woff);
    font-weight: 700;
}


/* RESET RULES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, li, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

button {
    background: none;
    border: none;
    color: currentColor;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
}

img {
    max-width: 100%;
}

/* GENERAL STYLE */

body {
    font-family: "gg sans";
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-3 {
    flex-basis: calc((100% / 12) * 3);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-5 {
    flex-basis: calc((100% / 12) * 5);
}

.col-7 {
    flex-basis: calc((100% / 12) * 7);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-10 {
    flex-basis: calc((100% / 12) * 10);
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}


.btn-light {
    background-color: white;
    color: rgb(87, 87, 87);
    padding-block: 8px;
    padding-inline: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.btn-light:hover {    
    color: #5865f2;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}


.btn-dark {
    background-color: #313338;
    color: rgb(240, 240, 240);
    padding-block: 8px;
    padding-inline: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.btn-dark:hover {    
    background-color: #404349;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.btn-blue {
    background-color: #5865F2;
    color: rgb(240, 240, 240);
    padding-block: 8px;
    padding-inline: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.btn-blue:hover {    
    background-color: #979eeb;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.bg-grey {
    background-color: #F6F6F6;
}

/* HEADER */

.page-header {
    background-color: #255EE9;
    color: white;
    font-weight: 700;
    padding: 25px;
    text-align: center;
}

.header-logo {
    display: flex;
}

.header-menu {
    flex-basis: 60%;
}

.header-login button {    
    width: 124px;
    font-weight: 400;
}

/* PAGE HERO */

.page-hero {
    background-color: #255EE9;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    min-height: 600px;
    padding-top: 100px;
}

.page-hero h1 {
    font-family: "ginto nord";
    font-size: 52px;    
    line-height: 52px;
    margin-bottom: 30px;
}

.page-hero p {
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 500;
    margin-bottom: 30px;
}

.hero-buttons {
    gap: 10px 40px;
}

.page-content button {
    font-size: 20px;
    line-height: 40px;
    padding-inline: 40px;
}

/* IMAGE-TEXT */

.image-text, .large-image-text {
    color: #313338;
    padding-block: 100px;
}

.image-text h2 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    padding-bottom: 20px;
}

.image-text p {
    font-size: 20px;
    font-weight: 300;    
}

.large-image-text {
    text-align: center;
}

.large-image-text h2 {
    font-family: "ginto nord";
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 30px;
}

.large-image-text p {
    font-size: 20px;
    padding-bottom: 30px;
}

.large-image-text .cta-text {
    font-size: 30px;
    font-weight: 700;
    background-image: url(../img/stars.svg);
    padding-inline: 40px;
    margin-bottom: 20px;
}


/* DEBUG */

.debug .page-content {
    background-color: cadetblue;    
}

.debug section {
    border: 1px dashed rgb(119, 243, 156);
}

.debug header [class^='col'] {
    border: 1px dotted white;
}
.debug main [class^='col'] {
    border: 1px dotted rgb(99, 99, 99);
/*     min-height: 200px; */
    padding: 10px;
}